.main__wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  max-width: 100%;
  }
  .wrapper__col{
  flex: 1;
  }
  .user__col{
  max-width: 400px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #eee;
  padding: 20px;
  box-shadow: 0 0 25px rgba(0,0,0,0.1);
  border-radius: 5px;
  box-sizing: border-box;
  }
  .user__col h1{
  margin: 0;
  text-align: center;
  margin-bottom: 50px;
  position: relative;
  font-size: 22px;
  }
  .user__col h1:after{
  content: '';
  width: 60px;
  height: 2px;
  background: #318a1c;
  position: absolute;
  bottom: -16px;
  left: 0;
  right: 0;
  margin: 0 auto;
  }
  .form-control{
  width: 100%;
  background: #fff;
  border: 0;
  border-bottom: 1px solid #c7c7c7;
  padding: 10px 0;
  min-height: 45px;
  box-sizing: border-box;
  }
  .form__group{
  margin-bottom: 25px;
  }
  
  .text-right{
  text-align: right;
  }
  .signup__col{
  margin-top: 20px;
  }

  /* User profile */
  .user__list{
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
  
  }
  .user__inner__grid{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: auto 1fr;
  }
  .user__infos h2{
    font-size: 18px;
    margin: 0 0 5px;
  }
  .user__infos ul{
    margin:0;
    padding: 0;
  }
  .user__infos ul li{
    list-style: none;
    margin-bottom: 5px;
  }
  .img__wrap{
    max-width: 100%;
    height: 100px;
    object-fit: cover;
  }
  figure{
    margin: 0;
  }